#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  opacity: 0.7;
}

/* Container holding the image and the text */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bottom right text */
.text-block {
  opacity: 0.9;
}

label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}